.cardsForDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;

  width: 318px;
  height: 255px;

  background: #ffffff;
  border-radius: 8px;
}

.publishedText {
  display: flex;
  width: 286px;
  justify-content: space-between;
}

.bordered_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px 5px 5px;
  gap: 10px;

  width: 283px;
  height: 77px;

  background: #f7f7f7;
  border-radius: 100px;
}
