.for_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  gap: 30px;
  width: 769px;
  height: 312px;
  background: #ffffff;
  -webkit-box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 1px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.info_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 780px;
}

.profileText {
  width: 154px;
  height: 35px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.title {
  width: 94px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.5);
}

.input {
  width: 681px;
  height: 60px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.5);
}

.userSurname {
  width: 350px;
}

.dannyieAkk {
  width: 231px;
  height: 35px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.canSeeOnliU {
  width: 185px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.5);
}

.iconPhotos {
  width: 32px;
  height: 32px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  width: 215px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.information_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainTexts {
  width: 160px;
  height: 23px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  color: #000000;
}

.two_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 47px;
}

.datasBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cancelText {
  width: 81px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: #ed1d1d;
}

.keepText {
  width: 133px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: #ffffff;
}

.keepBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 66px;
  gap: 14px;
  width: 265px;
  height: 58px;
  background: #4c98ff;
  border-radius: 11px;
}

.cancelBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 66px;
  gap: 14px;
  width: 195px;
  height: 58px;
  background: white;
  border-radius: 11px;
  border: 1px solid #ed1d1d;
}

.for_dataBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 740px;
}